doctype html
html(lang='en-US')
  head
    link(rel='pingback' href='https://wordpress.adamkoch.com/xmlrpc.php')
    //
      <![endif]
    meta(name='robots' content='max-image-preview:large')
    link(rel='alternate' type='application/rss+xml' title='Adam Koch &raquo; Feed' href='https://wordpress.adamkoch.com/feed/')
    style(id='wp-block-library-inline-css' type='text/css').
      .has-text-align-justify{text-align:justify;}
    style(id='wp-block-library-theme-inline-css' type='text/css')
      | #start-resizable-editor-section{display:none}.wp-block-audio figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-audio figcaption{color:hsla(0,0%,100%,.65)}.wp-block-code{font-family:Menlo,Consolas,monaco,monospace;color:#1e1e1e;padding:.8em 1em;border:1px solid #ddd;border-radius:4px}.wp-block-embed figcaption{color:#555;font-size:13px;text-align:center}.is-dark-theme .wp-block-embed figcaption{color:hsla(0,0%,100%,.65)}.blocks-gallery-caption{color:#555;font-size:13px;text-align:center}.is-dark-theme .blocks-gallery-caption{color:hsla(0,0%,100%,.65)}

    style(type='text/css').
      img#wpstats{display:none}
    style.
      /* Link color */
      a,
      #site-title a:focus,
      .entry-title a:hover,
      #site-generator a:hover {
      color: #2b74a5;
      }
      section.recent-posts .other-recent-posts .comments-link a:hover {
      border-color: #2b74a5;
      }
      article.feature-image.small .entry-summary p a:hover,
      .feature-slider a.active {
      background-color: #2b74a5;
      }
    style(type='text/css' id='twentyeleven-header-css').
      #site-title a,
      #site-description {
      color: #2b74a5;
      }
    // Jetpack Open Graph Tags
    meta(property='og:type' content='article')
    style(type='text/css' id='wp-custom-css').
      #post-2960 > div > p:nth-child(n+7):nth-child(-n+15) {
      text-indent: 2em;
      }

  body.post-template-default.single.single-post.postid-1620.single-format-standard.wp-embed-responsive.single-author.singular.two-column.right-sidebar
    // comment
    .skip-link
      a.assistive-text(href='#content') Skip to primary content