footer.entry-meta
  | This entry was posted in 
  a(href='https://wordpress.adamkoch.com/category/professional/' rel='category tag') Professional 
  | . Bookmark the 
  a(href='https://wordpress.adamkoch.com/2009/07/25/white-space-and-character-160/' title='Permalink to White-space and character 160' rel='bookmark') permalink
  | .
// .entry-meta